[2017-01-18 05:33] sagivo opened #1 "feature request - sample app"
any chance for a sample app that works with webrtc?

[2017-03-08 14:13] siemya opened #3 "Callkit view doesn't close"
Hey,

When i call the RNCallKit.endCall(this.uuid) function callkit view does not close.

Thanks for the module btw! 👍

[2017-03-09 06:49] ianlin commented on #3
Hey @siemya,

Are you testing on the incoming calls or outgoing calls? The system UI is appeared only for incoming calls while `endCall()` method is used for outgoing calls.

For incoming calls, when you press the **hangup** button from the system UI, there is an `endCall` event (different from `endCall()` method) sent to JS and the module will call `[action fulfill]` automatically. The system UI

[2017-03-09 14:55] siemya commented on #3
Thanks for the fast response!

When the app is n foreground and i receive a call, i call the RNCallKit.displayIncomingCall function which opens the system UI.

And if i accept that call the system UI goes to background automatically, and i show my own callView.

When the user presses the endCall button or if i receive an endCall event from the other user, i close my own view and call the RNCallKit

[2017-03-10 05:09] ianlin commented on #3
I think it happens when the `uuid` for `displayIncomingCall()` and `endCall()` are different. Can you verify your uuid?

[2017-03-10 11:05] mhaagens opened #4 "How to properly set up."
I've installed and linked the npm package, added the build phases, replaced the code in AppDelegate.m. Should I add the file RNCallKit.h and paste this code inside?;
I'm getting errors for missing context for method declaration, use of undeclared identifier RNCallKit and use of undeclared identifier rncallkit.

[code]

[2017-03-10 11:24] mhaagens commented on #4
Tried again, installed with rnpm, getting;
"RCNCallKit.h" file not found

[2017-03-11 08:52] ianlin commented on #4
Hey @mhaagens, can you check your Xcode with following settings:

- **Build Settings** -> **Header Search Path** has `$(SRCROOT)/../node_modules/react-native-callkit/ios/RNCallKit`

[2017-03-11 12:57] siemya commented on #3
when i receive a remote call i set a uuid and display the call, and when i receive a remote hangup, i call the endCall event with the same uuid, but the ui doesn't close.

[code]

[2017-03-13 04:27] ianlin commented on #3
That's odd, I've only run into this problem when the uuid is not the same. Can you please provide any log (JS and Native) to see what happened there?

[2017-03-13 16:33] siemya commented on #3
Hey,

i guess i found the problem, but it still doesn't work sometimes.

On my constructor i add the endCall event listener, and i have two hangup functions (hangUp, remoteHangUp).

İ make a call when the app is on foreground, and end the call immediately. So i expect only the remoteHangUp function to get called. However after remoteHangUp also hangUp function gets called which i added to eventLis

[2017-03-14 04:08] ianlin commented on #3
Had some tests and yes the **endCall event** will be triggered after every **endCall action**. But still I can't reproduce the problem you have even if I call **RNCallKit.endCall()** twice.

Instead of calling `RNCallKit.endCall()` in both of your `hangup` function, I would suggest put it in the signal event. For my case since I'm using SIP for signalling, I call it when `terminated` or `cancel` e

[2017-03-24 04:25] ianlin commented on #3
Hey @siemya have you sorted out this problem?

[2017-03-24 04:26] ianlin commented on #4
Hey @mhaagens did you set up successfully?

[2017-04-24 16:04] jmesquita opened #6 "Guidance for a PR"
Hi, I'm not an Objective-C developer and I'm pretty new to React-Native native modules so I need some guidance to reach a specific goal that I think should benefit the project greatly.

On all callbacks in which we receive actions such as `CXAnswerCallAction` (on `performAnswerCallAction`), while inspecting the object, I saw that we're able to fetch the UUID of the call that is being acted upon.

[2017-04-25 04:19] ianlin commented on #6
Hi @jmesquita, thanks for contributing. You have done right on the Obj-C side. However you still need to modify the JS side so the event payload can be passed to the user correctly.

Add the following and everything is good:

[code]

Feel free to let me know if there's any question!

[2017-04-25 07:18] neel132 opened #7 "Android Support?"

[2017-04-25 10:56] jmesquita commented on #6
Thank you Ian! I'll do a PR later today.

Have you considered using promises instead of the events you're currently using? Reason I'm asking is because incoming calls as an example could throw an error on several occasions such as night mode or blocking users but those errors are not being propagated to the app. A promise based approach could be a good way to implement that sort of error handling.

[2017-04-25 11:29] ianlin commented on #6
Hi @jmesquita, you're right using promises is better than events in this case. Just do it!

The reason I used events is `performAnswerCallAction` and other `CXProviderDelegate` are event based as well. To use promise the only way I can think of is we need to have some global promise resolvers for each event. Have you got any thoughts on it?

[2017-04-25 18:03] jmesquita commented on #6
Yes, it is event based indeed but I was thinking more on the lines of adding promise to this specific call:

[code]
There are clear reasons for the reporting to fail that are valid such as Do Not Disturb so I guess that should be checked and a promise should be rejected. This could be a start and we could be moving on to other methods as they make sense to do it.

[2017-04-25 18:46] jmesquita commented on #7
CallKit is a technology that is exclusive to iOS. I've not yet fully investigated how to emulate the same thing on Android but it seems like the not so well documented approach is using ConnectionServices class to create a wrapper. Either way, I don't think having that wrapper on this module is not appropriate but I'm not the project owner, so I don't know.

[2017-04-26 02:57] ianlin commented on #6
Yeah it totally make sense to add a promise here, just go ahead 👍

[2017-04-26 03:08] ianlin commented on #7
I've noticed `ConnectionServices` from Android API 23 just then... It looks interesting and just like CallKit on Android. Will get some time looking at it or any PR is welcome.

[2017-05-03 19:15] eugenehp commented on #3
@ianlin looks like there was a wrong UUID pointer. Now it works for me 👍

[2017-05-09 17:30] kklimuk commented on #4
I had the same issue and that solved the problem for me. Thanks!

[2017-06-06 09:56] mhaagens commented on #4
Got it working by adding the Header Search Path. Thanks!

[2017-06-06 09:56] #4 closed

[2017-06-06 09:58] mhaagens commented on #4
Instead of opening an issue I'll just ask here. Can I use this library to intercept incoming calls, display the caller data and either hang up/answer the call in my app? Would you be able to provide a high level overview of how that would work? I see there's a displayIncomingCall, but no event listener for it?

[2017-06-27 10:35] nickmendes opened #10 "voip-push-notification Integration"
Can both packages be used together ? , Ive implemented react-native-voip-push-notification with my app and its working great, but can I bring call-kit upfront on a voip-push receival ?

Thanks in advance.

[2017-06-28 10:45] nickmendes commented on #10
Got it to work thanks. If any1 interested in a PR just hit me up.

[2017-07-04 06:19] joshuaalpuerto opened #11 "Can use for WebRTC Videocall"
Hi,

Can I integrate this with WebRTC Video Call?

Something like this?
<img width="193" alt="screen shot 2017-07-04 at 2 18 14 pm" src="https://user-images.githubusercontent.com/7126484/27817446-ae856fb8-60c3-11e7-8d2e-ebc2e170eb70.png">

Cheers!

[2017-07-04 14:40] joshuaalpuerto commented on #11
As I search over stackoverflow, process is once the call is accepted redirect to the page where you handle the Video Call. My question now is instead of `<AppName> Audio..` how can i change the text to something above? `<AppName> Video..`?

[2017-07-10 03:12] joshuaalpuerto commented on #3
does anyone fixed this issue? Im having trouble calling `endCall` method

here's the code :

[code]

Here's my log:

[code]

Cheers!

[2017-07-10 13:48] eugenehp commented on #3
Are you sending correct UUID here?

I feel like it would be great to store those uuids on level of this
library, so if endCall is missing uuid, it could grab one from the cache.

On Sun, Jul 9, 2017 at 8:12 PM Joshua Alpuerto <notifications@github.com>
wrote:

[2017-07-10 14:36] raarts opened #12 "Is it possible to offer a block list to the generic phone?"
I want to block specific numbers (and send them to voicemail), both on the VoIP as well as on cell calls. Is that possible?

[2017-07-10 15:40] joshuaalpuerto commented on #3
HI @eugenehp

Yes I am. I actually thought I edited my post but your [PR](https://github.com/ianlin/react-native-callkit/pull/9), actually solves my issue.

[2017-07-10 16:58] eugenehp commented on #3
@joshuaalpuerto glad it helped you.

I'm still curious to hear what @ianlin thinks about improving architecture of the wrapper.

[2017-07-11 02:19] joshuaalpuerto commented on #3
@eugenehp Sorry Im still new with mobile development, Im no expert of `swift` nor `objective-c` so I can't really comment with that. Anyway I experience a weird issue last night,  Im trying to call `endCall` and it is not triggered. I think it has something to do if something goes wrong during the call or something.

I have to put back this part

[code]

And It works again.

[2017-07-13 15:05] joshuaalpuerto commented on #3
Hi @eugenehp ,

Im still encountering issue triggering `endCall` method.

Here is my Xcode's log:
[code]
Im sure that this is what i registered with my `displayIncomingCall`: 612A5D2B-A337-41D4-9CA6-5EF0B656391D

Cheers!

[2017-07-13 16:25] #11 closed

[2017-08-02 20:45] nikhildaga opened #13 "Callkit UI doesn't appear for outgoing calls."
After making a call through endpoint, I am calling  RNCallKit.startCall like this. But, screen remains the same as dial screen and system ui doesn't show up. What am I doing wrong?

[code]

Thank you!

[2017-08-14 03:41] ianlin commented on #12
Yeah it's possible but haven't implemented since I don't have this requirement yet. PR is welcome!

[2017-08-14 03:46] ianlin commented on #13
I think CallKit provides system UI for incoming calls only. `startCall()` makes the call records can be seen through system's `Recents`.

[2017-08-15 04:23] raarts commented on #12
Do you have build instructions? Can you give me hints on how to teach myself about this as fast as possible? Thanks.

[2017-09-19 07:32] FRizzonelli opened #16 "Integrating with RNN"
Hi there! Great work on the lib!

I'm not an iOS dev and I'm having some problem to integrate this with [react-native-navigation](https://github.com/wix/react-native-navigation)
For the other lib, I need to do this
[code]

I'm trying to init your lib and import it as a NativeModule, but on react-native I receieve the error `Native Modules cannot be null`

Any idea on how to properly link your lib

[2017-09-19 07:38] ianlin commented on #16
Thanks!

From your code it looks like you didn't init `React Bridge` and `React Root View` as described [here][1]

[1]: https://github.com/ianlin/react-native-callkit#--change-the-way-you-initialise-react-root-view

[2017-09-19 09:15] ianlin commented on #16
Yeah you can do it and if you do it you have to remove `RNCallKit *rncallkit = [[RNCallKit alloc] init];` from `AppDelegate.m` otherwise `RNCallKit` would be initialised twice.

The reason why initialising `RNCallKit` in `AppDelegate.m`  is that I want `RNCallKit` to be loaded as fast as possible. It could be unnecessary now, I'll have a look, cheers!

[2017-09-19 09:19] FRizzonelli commented on #16
Perfect!

Thank you :) Cheers!

[2017-09-19 09:19] #16 closed

[2017-09-19 10:12] ianlin commented on #16
Hey just released `1.3.0` including remove the comment of `RCT_EXPORT_MODULE()`

[2017-09-28 22:34] bsiddiqui commented on #11
@joshuaalpuerto did you figure this?

[2017-09-28 23:06] bsiddiqui commented on #11
Anyone looking for a solution to this, the 4th argument in `displayIncomingCall` is `hasVideo:boolean`.

[code]

[2017-09-28 23:42] bsiddiqui opened #17 "Using imageName"
I've tried using the `imageName` property but I can't get it to display on an incoming call.

I've tried using an image name in my react-native bundle as well as an image in Images.xcassets. Would you mind elaborating on how one would add an image to the bundle?

[2017-09-29 02:28] ianlin commented on #17
Hi, what I did is make sure the image file (e.g. `my_pic.png`) is in Xcode's `Build Phases` -> `Copy Bundle Resources`, and specify the filename only when setup RNCallkit.

In this case:

[code]

Hope it helps!

[2017-10-13 09:40] flafuente commented on #13
CallKit doesn't provide the UI for outgoing calls or answered incoming calls with the phone unlocked.

[2017-10-13 09:43] flafuente commented on #10
@FRizzonelli Theres not much fuzz into it. Just set up your push system and call then RNCallKit.displayIncomingCall(_uuid, "886900000000") within the callback of the push received.

[2017-10-13 10:02] FRizzonelli commented on #10
@flafuente Ye, the problem is that I were using another package for navigation which wasn't that easy to setup corretcly, but I've found a way to make it works :)

[2017-10-14 19:37] wdieujuste90 opened #18 "Video button on native incoming call screen doesnt work after ios11"
Hi @ianlin ,

Before upgrading to ios11, clicking the Video button on the native incoming call screen would request touch id/passcode and transition to application. On ios11, it only asks for authentication but doesn't do anything after. Is there something that needs to be updated in the wrapper?

[2017-10-16 08:43] LightKnight3r commented on #7
i found out a solution
http://belka.us/en/callkit-android-react-native/
but i cant follow it. Is there anyone can do that?

[2017-10-25 09:12] talibasya commented on #3
@joshuaalpuerto I noticed different behaviour on production and development version. In some cases `endCall` doesn't work properly on development deployment, but with production I don't have problems. Did you run app on prod version?

[2017-10-25 11:02] joshuaalpuerto commented on #3
@talibasya Yes I run it with production build but still has issues. I think the problem is if the call was not established correctly.

[2017-11-08 03:34] #17 closed

[2017-11-20 17:38] bsiddiqui opened #19 "Video call flashes native UI"
My understanding is that for video calls you route to your video components when answering an incoming call. Whenever I do that, the native UI flashes for a second before showing my component. Is there a way to prevent that?

[2017-11-22 03:36] ianlin commented on #19
Sorry in my project I only need voices at the moment so I haven't played with video yet. Feel free to post your solutions here if you figure it out. Cheers!

[2017-11-22 03:49] ianlin commented on #18
Hey sorry for late, have you sorted out this issue? I've tested with iOS 11.1 and iPhone 8, both clicking the `video` and `app icon` button work as expected.

[2017-11-27 21:52] imakou opened #20 "How to run up the example?"
Hi all,

I'd like to just run up an example first without sip setting.
I've settled down `AppDelegate.m` already.
App has been compiled and build successfully.

My purpose is just to render the incoming UI in current process.
How can I make it?

[code]
The result is nothing happen in the simulator.

Thanks for any opinion.

[2017-11-28 02:10] ianlin commented on #20
Perhaps adding a button in your view with `onPress()` listener calling to `this.onIncomingCall()`?

[2017-11-28 14:31] imakou commented on #20
@ianlin I've tired your suggestion. But the screen is still the same and doesn't switch to the imcoming call which I want.

In the dev tool, I can see my console.log, so I think the method has been called successfully.

Is anything I missing?

[code]

[2017-12-04 18:59] fcaride opened #21 "CallKit UI not showing when i use displayIncomingCall"
First of all i do the setup calling this function: RNCallKit.setup({appName: 'App'});
Then I am calling this function: RNCallKit.displayIncomingCall("_uuid", "886900000000") when the phone is locked or when I'm on the home screen and the UI it's not showing up. I debugged it and it calls the function but it doesn't do anything.

Thanks

[2017-12-04 22:44] fcaride commented on #20
Callkit doesnt work on the simulator, but im trying doing the same in a phone and i cant make it work neither.

[2017-12-11 04:13] brunsy opened #22 "delay call connection"
On answering a call, the call is set as connected regardless of the actual status of the VOIP connection.

Currently, you can accept an incoming call without implementing the answerCall method and still get to the call connected state.

Is it possible to halt the answer's [action fulfill] until connection is complete?

[2017-12-19 22:31] bsiddiqui opened #23 "CallKit uppercasing call uuid"
If I call `RNCallKit.endCall('ae708c43-f567-4bcf-8940-fb7013a8aa30')` the end call callback will get `{ callUUID: 'AE708C43-F567-4BCF-8940-FB7013A8AA30' }` (uppercased). Is that expected?

[2017-12-20 03:48] brunsy commented on #23
It's caused by the use of NSUUID everywhere...
For now I ended up converting back to lowercase in the event listeners.

@ianlin would you accept a PR to accept mixed case but always return lowercase UUID's?

[2017-12-20 03:54] ianlin commented on #23
Hi @bsiddiqui @brunsy, thanks for pointing this out. Yeah definitely welcome any PR :)

[2017-12-27 12:22] ccaapton commented on #7
Cordova integrated both Callkit for iOS and ConnectionService for Android here: https://www.npmjs.com/package/cordova-call

Hope react-native could implement it soon.

[2018-01-03 01:30] bsiddiqui opened #24 "Show custom UI after answer call from lock screen"
If a user answers a call from the lock screen, they will see the native iPhone call UI instead of the custom UI the app displays.

<img width="200" src="https://user-images.githubusercontent.com/2721959/34506484-ee05f70e-efe1-11e7-9223-1b9ea1437d1b.jpg" />

They then have to click the button on the bottom right with the app name ("HDC" in the screenshot) to see the app UI.

If the phone is unlocke

[2018-01-10 15:54] aarkalyk commented on #20
Have you solved the issue yet?

[2018-01-11 14:42] aarkalyk commented on #20
Turns out the problem was due to missing VOIP background mode in info.plist file.

`
<key>UIBackgroundModes</key>
<array>
    <string>audio</string>
    <string>voip</string>
</array>
`

changing it from capabilities didn't work for some reason.

@ianlin would be nice to add it in READ.ME :)

[2018-01-18 20:09] ilyadarq opened #25 "Installation tip"
Hello guys.

I have a problem with correct installation. You can see the error below.
When I try to use something like this:
[code]

Xcode error:
[code]

I run that with:
[code]

I tried 1.3.0, 1.2.1 and I get same.

I also set up `$(SRCROOT)/../node_modules/react-native-callkit/ios with recursive`
And my AppDelegate.m looks like this
[code]

Sure there is also rncallkit.a in link binary with libs

[2018-01-19 01:32] ianlin commented on #25
Hi @ilyadarq, from your error log I couldn't see where went wrong, please run as `Debug` mode so the log would be clearer.

There are two points I would guess, 1. make sure you install `uuid` and import it and, 2. if you are using RNCallKit > 1.2.1, you don't have to modify `AppDelegate.m`.

Hope it helps!

[2018-01-19 01:34] ianlin commented on #24
I think it is the default behaviour and I'm unsure if it can be modified.

[2018-01-19 11:28] ilyadarq commented on #25
Okay. The problem was with info.plist. Reference to https://github.com/ianlin/react-native-callkit/issues/20#issuecomment-356953932
Just add <string>voip</string> to Uibackground modes :)
As he said please add it to guide, bro.

[2018-01-21 00:13] bsiddiqui commented on #24
@ianlin messenger, whatsapp, etc don't have this - do you think they're using something custom instead of callkit?

[2018-01-26 17:25] pewh commented on #7
Hey @ianlin, I'm newbie here and curious about ConnectionService. You mention that it's from Android API 23. If my project use useTargetVersion=25 and minTargetVersion=16, can I still use ConnectionService?

[2018-02-01 05:46] pewh opened #26 "Weird: RNCallkit is not defined"
Hello, I got an error RNCallkit while trying to import from JS file.

I already link this library manually by:
1. Drag RNCallKit.xcodeproj into Libraries
2. Add `$(SRCROOT)/../node_modules/react-native-callkit/ios/RNCallKit` (recursive) in project's Header Search Path
3. Add libRNCallkit.a, CallKit.framework, Intent.framework into project's Build Phases
4. Modify AppDelegate.m to `#import "RNCallK

[2018-02-01 06:47] ianlin commented on #26
Hello, can you try solutions in #25 and #20?

[2018-02-01 06:56] ianlin commented on #25
Thanks, README updated.

[2018-02-01 06:56] #25 closed

[2018-02-01 06:56] ianlin commented on #20
Thanks, README updated.

[2018-02-01 06:56] #20 closed

[2018-02-01 07:14] pewh commented on #26
I've following those solutions before, but no luck. When I try to console.log(RNCallKit), it also thrown an error, that seems not registered to JS.

[2018-02-01 07:16] ianlin commented on #26
Okay, can you please share some error messages?

[2018-02-01 07:20] pewh commented on #26
[code]

my root.js
...
import RNCallKit       from 'react-native-callkit'
...

export default class Root extends Component {
...
componentDidMount() {
const r = RNCallkit // thrown error here
    debugger
    RNCallkit.setup({ appName: 'asd' })
    RNCallkit.displayIncomingCall('foo', 'bar', 'generic', true)
}
render(){return null }
}

trying run RNCallkit via onpress touchableopacity but same err

[2018-02-01 07:27] ianlin commented on #26
Not sure if it is a typo but the `K` is uppercase in `import` statement but lowercase when using it.

[2018-02-01 07:38] pewh commented on #26
Wow... You save my life! I don't realize that this typo make me feel dumb. Anyway, thanks! 🍻

[2018-02-01 07:38] #26 closed

[2018-02-07 15:00] sujameslin opened #28 "How to know whether incoming or outgoing call in `didReceiveStartCallAction` event"
When user start call action from Recents in built-in Phone app, how to know that if clicked call history item was incoming or outgoing call?
Is it sending some parameter when `didReceiveStartCallAction` is invoked?

[2018-02-07 16:06] EmreMengukan opened #30 "how to sip integration"
hello ,

how to sip voip server url and user , password integration
usage sip server system asterisk elastix

[2018-02-26 10:42] aarkalyk commented on #28
I don't think we can get information about wether call was incoming or outgoing.
The `RNCallKitHandleStartCallNotification` is sent from the following method
[code]
Just checked if `userActivity` provides such information, turns out it doesn't.
Why do you need it anyway?

[2018-03-02 08:38] aarkalyk opened #37 "Question / Handling permissions"
Hey, @ianlin ! I wanted to ask about handling mic/camera permissions when user opens the app for the first time. The tricky part for me is user receiving a call for the first time when app is in background/killed mode. How do you handle such cases? What are the best practices?
Thanks in advance!

[2018-03-05 20:04] basitsattar commented on #7
Any update?

[2018-05-30 18:58] ercpereda commented on #24
Hello @ianlin @bsiddiqui there is something new about this topic?

[2018-05-31 10:55] aarkalyk commented on #24
Hi @ercpereda  it's technically impossible in iOS.

[2018-05-31 15:01] ercpereda commented on #24
@aarkalyk thanks for your response. Do you have any idea how whatsapp accomplish this?

[2018-06-13 14:54] CedricSoubrie commented on #13
@flafuente "CallKit doesn't provide the UI for outgoing calls or answered incoming calls with the phone unlocked." What ???
This means every VoIP app needs to code the exact same interface Apple provides for incoming call when device is locked ? Isn't that super weird ?

[2018-06-13 15:20] aarkalyk commented on #13
@CedricSoubrie When the phone is locked it's the system UI that you see. The thing is within your app, you should implement a custom UI, but whenever you go outside of it you can switch to the system one.

[2018-06-13 15:29] CedricSoubrie commented on #13
Thanks @aarkalyk Do you know why we have to implement our own interface when Apple have a nice and clean one which we already use when device is locked ? Don't you think it's a bit strange ?

[2018-06-14 19:55] cmilando opened #44 "help setting up event listener?"
I think I have react-native-callkit set up correctly, because I can get checkIfBusy to report `true` if I am in a call, and `false` otherwise. I am somewhat new to react-native so please forgive me if this is something basic!

However, I'm having trouble getting the event listeners to work.

My current setup is this:

in the component constructor:
`RNCallKit.addEventListener('didReceiveStartCallAc

[2018-06-28 17:33] spiffylogic commented on #7
Am I the only one who finds it very ironic to stumble upon a library for a cross-platform development framework that only works for iOS? Disappointing.

[2018-07-05 10:56] davidcantonnoteges commented on #44
+1

[2018-07-09 10:59] davidcantonnoteges commented on #21
I have the same issue, please, some fix ?

[2018-07-09 11:02] aarkalyk commented on #21
have you added
[code]
to your info.plist file?

[2018-07-09 13:06] davidcantonnoteges commented on #21
Yes

[2018-07-09 13:07] davidcantonnoteges commented on #21
<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

[2018-07-10 15:03] ippa opened #46 "How to flag an outgoing call as "Video""
First off, deep thanks for a great plugin and your contributions to the react-native community!

I'm making a videochat application. When my app receives an incoming I call `displayIncomingCall()` with `hasVideo = true`. in Recents I see the incoming call flagged as `Video` which is nice. When registering an outgoing call with `startCall()` I don't have that option though.. and in Recent it shows

[2018-07-10 15:18] ippa opened #47 "Problems with didReceiveStartCallAction-event"
I have a number of call-kit-calls listed by my app under the Recent-tab on my iPhone.

In my app-code I hook into the `didReceiveStartCallAction`-event like this:
[code]
When I click a call in Recent-list my app starts, but the above event isn't called (other callbacks like `answerCall` and `endCall` works)

Any ideas why?

[2018-07-17 09:01] cmilando commented on #44
@aarkalyk Do you have any thoughts here? I'm sorry to mention you without prompting, just figured you may have some helpful insights! Thanks

[2018-07-17 12:10] davidcantonnoteges commented on #44
Listeners not working for me, none fired when receive calls, or i make calls..

[2018-07-17 12:24] aarkalyk commented on #44
Hey guys!

Are you sure you've implemented this delegate method?
[code]

[2018-07-17 12:36] cmilando commented on #44
Hi @aarkalyk, thank you so much for responding!

This is my AppDelegate.m, please let me know what you think!

[code]

[2018-07-17 12:58] aarkalyk commented on #44
I think these lines should be removed. No need to initialize RNCallKit.
[code]

[2018-07-17 13:00] cmilando commented on #44
@aarkalyk  Ok I'll give this a shot, thanks a ton!

[2018-07-17 13:05] davidcantonnoteges commented on #44
I have removed these lines and no working in my project

[2018-07-21 18:10] cmilando commented on #44
Hi @aarkalyk, thanks for all your help so far. I commented out the lines you suggested in AppDelegate.m, and still can't get the EventListener functions to work.

Here is the main component that I am using to try and display current call information (right now just to the console). The main difference with what is listed in the [npm doc]([https://www.npmjs.com/package/react-native-callkit]) for ca

[2018-07-22 17:22] cuonghero6789 opened #48 "incoming call not show when user kill app"
currently it's only work for me when state is active and background, when user kill app not working to me, and then i open app again it's auto incoming call, so how to wake up app when state is inactive?i want to incoming call when user kill app.

[2018-07-22 19:15] aarkalyk commented on #48
You should use [VoIP push notifications](https://github.com/ianlin/react-native-voip-push-notification) to achieve that.

[2018-07-23 03:10] cuonghero6789 commented on #48
thanks @aarkalyk for your support, i added
https://github.com/ianlin/react-native-voip-push-notification, but voip Notification still not received after app is killed by the user.

[2018-07-23 15:50] orehush opened #49 "didReceiveStartCallAction does not return contact identifier"
Although the _CXStartCallAction_ has method _setContactIdentifier_, but when I click on contact in calls history I'll not get the identifier of contact in application.

[2018-07-26 09:50] #49 closed

[2018-07-26 18:02] caiokrodrigues commented on #47
I'm currently having the same issue. The action successfully wakes up the app but at that point seems like RNCallKit is not setup yet so there's not a handler method for that action. @ianlin any ideas how to fix it?

[2018-07-30 17:09] vyshkant commented on #3
@joshuaalpuerto have you finally fixed the problem?

[2018-07-30 17:16] vyshkant commented on #3
@ianlin And what is the proper way to hide the incoming call screen when the call is terminated "from the other side" (i.e. the red button wasn't pressed by the user).

[code]

So I have the same problem: the incoming call screen is not closed when I invoke `RNCallKit.endCall`. The only difference between these uuids is the case (I generate lowercased uuid).

[2018-08-07 10:27] nuttikung opened #51 "I got "Native module cannot be null.""
I have tried with version 1.3.4

by the following step I did.
- yarn add react-native-callkit
- react-native link react-native-callkit
- $(SRCROOT)/../node_modules/react-native-callkit/ios/RNCallKit in header search path with recursive.
- #import "RNCallKit.h" in AppDelegate.m

Do I missed any further step to complete it?

Expected Result : Application can run without any errors.
Behavior Result :

[2018-08-08 16:24] rcidt opened #52 "`endCall` callback no called when cancelling call with side lock button"
If you start a call via the `startCall` method, and then press on the lock button on the side of the phone, the call UI will say that the call has ended but the `endCall` callback is never called.

[2018-08-08 18:52] rcidt commented on #52
This is a non-issue. This was happening because I was running this in debug mode. Sometimes when you lock the phone the JS will error out.

[2018-08-08 18:52] #52 closed

[2018-08-18 20:10] farrukhhashmi-novatore opened #53 "Need Help - Getting error of Malformed call"
`ExceptionsManager.js:65` function () {
		var ret = '',
		    value;

		for (var i = 0; i < 32; i++) {
			value = exports.random() * 16 | 0;

			if (i > 4 && i < 21 && !(i % 4)) {
				ret += '-';
			}

			ret += (i === 12 ? 4 : i === 16 ? value & 3 | 8 : value).toString(16);
		}

		return ret;
	},03244993387,number,false, is not usable as a native method argument
      ExceptionsManager.js:73 Malf

[2018-08-18 21:07] #53 closed

[2018-08-23 09:01] danjenkins opened #54 "Update to include DTMF, held and group support"
The module should support the additional methods of DTMF events as well as handling group events. Strangely I see a held event in the docs but no hold button in the UI.

Will try and add the relevant PR in the coming weeks

[2018-08-23 09:02] danjenkins opened #55 "Allow disable of group functionality in init"
As seen in the [docs](https://developer.apple.com/documentation/callkit/cxproviderconfiguration) you can give more control over group calling through the init functionality

Enable this

I'll try and get a PR that does this in the coming weeks

[2018-08-29 08:35] farrukhhashmi-novatore opened #56 "Any event to be trigger ? if someone didn't pick the call , nor rejected. Like missed call ."
Do I need to set the timer to end the call automatically or react native call kit provide event to be automatically trigger if someone don't answer your call. I need this urgent . Please reply me shortly.
Thanks.

[2018-09-04 02:57] elsammak commented on #18
Would anyone please tell me what is the delegate method that should be called when tapping this "Video" button?
I've found posts talking about tapping this button should fire
`func provider(_ provider: CXProvider, perform action: CXStartCallAction)`
But that does not happen.
Thank you.

[2018-09-06 20:39] rcidt opened #57 "No audio when running `startCall`"
When I initiate an outgoing call from within my app, I call the `startCall` method (to register the call on the ios call history log). When I do this, I do send not receive audio.

When I capture a network packet trace, I don't see any RTP being sent out by the device. My guess is, that this means for some reason, `startCall` is suppressing the audio.

[2018-09-14 14:56] invisible66 commented on #24
hey @bsiddiqui, which method calling when "HDC" button pressed? :) My app crashed when i touch this button.

[2018-09-18 19:40] angvp commented on #7
@spiffylogic Patches welcome!

[2018-10-20 10:24] farrukhhashmi65 opened #59 "onRNCallKitPerformEndCallAction not being called after call rejection."
On Reject call from call kit view, unable to call this listener on Testflight.

RNCallKit.addEventListener('endCall', this.onRNCallKitPerformEndCallAction);

What can be the issue ?
It is calling successfully after answered call, ended from callkit view. But not when  rejected the call directly.

[2018-10-25 09:03] ippa commented on #46
ping @ianlin is this plugin still being worked on?

[2018-10-25 09:18] zxcpoiu commented on #46
yes, we are keep using this but have no time to develope new features.
this plugin works well without issue in our use case.

[2018-10-25 21:23] ippa commented on #46
Thanks for the answer @zxcpoiu , I understand.

[2018-11-19 14:41] grit96 commented on #21
I've found that the CallKit display does not appear with no errors in the logs if your call ID is not in the UUID format. If (like me) your call IDs from the SIP stack are the wrong format I suggest using [uuid-by-string](https://www.npmjs.com/package/uuid-by-string) to convert the ID into the correct format.

[2018-11-21 20:58] LFSCamargo commented on #24
Yeah i need to do this also

[2018-11-23 04:53] Praxey opened #61 "Hang up on incoming calls"
Hi,

I'm building a react-native app which utilizes twilio video for webrtc calls.

I'm attempting to use pushkit and callkit just to permit my app to ring while in the background, and then, after the receiver answers, swap over to the video interface I've built.

This is all working with this package. Thanks so much for building this great tool!

My problem: I cannot figure out how to have my app

[2018-11-26 20:40] #61 closed

[2018-11-27 01:33] Daehee-Jeong opened #62 "Is it possible to get icomming call number?"
My goal is getting phone number of incomming call(React Native - iOS).
First, I found a 'react-native-call-detection' module. That was able to get incomming phone number but only in Android OS.
So i wondering that i can get incomming phone number using this module.

[2018-12-07 09:25] henrikbjorn opened #64 "CallKit actions not always getting executed."
Hey, thanks for the package.

I am seeing a couple of different issues while using the library.

* It seems that actions are not always fulfilled or called. Sometimes after `CallKit.endCall` the phone still thinks there is a call active and gets confused.
* `CallKit.displayIncomingCall` often it will instantly flash the ui as an overlay and then show the app, and then show the actual overlay. This

[2018-12-12 11:01] bmp123 commented on #3
I have same issue. app received call then open displayIncomingCall . if app go to background and app receive event end call from server - displayIcomingCall UI works, but app invoke endCall function

[2018-12-16 17:50] ttruongatl commented on #59
We have to be sure
1. Start call UUID and End call UUID are exactly the same.
2. There is only on Setup Callkit in an entire app. ( `RNCallKit.setup(options);`)

[2018-12-18 11:14] platonish commented on #64
@henrikbjorn were you able to figure this out? Are you using the [react-native-pjsip](https://github.com/datso/react-native-pjsip) library? I'm working on a SIP calling app that uses that library.

[2018-12-18 11:44] platonish commented on #13
From what I've read ([link](https://stackoverflow.com/q/51304225/7414945), [link](https://forums.developer.apple.com/thread/71080)), CallKit will show the native UI when the phone rings in the unlocked state, but switches to the app view once the user answers the call.

[2018-12-19 21:58] LFSCamargo opened #67 "Open call kit when the app is killed"
I am having a issue when the app is completely killed the callkit does not popup can there's any solution for that?

[2018-12-21 03:49] platonish commented on #64
@henrikbjorn thank you sir!

[2018-12-21 09:41] henrikbjorn commented on #64
Another observation. When you are entering background you need to delete accounts which takes time. So you need to extend the background processing time by doing something like this:

[code]

[2018-12-21 09:42] henrikbjorn commented on #64
When you receive a push notification from push kit, the app will not change state from background. So you need to register/create an account when that happens, if the user tries to answer the call via callkit.

[2018-12-22 08:11] zxcpoiu commented on #67
You may needs to use voip push, and let system awake your app.

[2018-12-22 08:12] zxcpoiu commented on #67
https://github.com/ianlin/react-native-voip-push-notification

[2018-12-23 23:06] ttruongatl commented on #67
There is a different solution for Android platform. You can refer the source here: https://github.com/twilio/voice-quickstart-android

[2018-12-30 08:13] zek opened #68 "Speaker buton event"
Is it possible to add an event for speaker button such as didPerformSetSpeakerCallAction (like didPerformSetMutedCallAction)

[2019-01-02 22:38] LFSCamargo commented on #64
Here its not working also sometimes the endAllCalls function works but sometimes not

[2019-01-02 23:33] LFSCamargo opened #70 "RNCallKit.endAllCalls() not working"
I call this function when it a user hangus up remotely and its not working

[2019-01-02 23:33] #67 closed

[2019-01-03 12:47] henrikbjorn commented on #64
@LFSCamargo https://github.com/ianlin/react-native-callkit/pull/66 this one is important if you are reloading your app in development mode. Without this CallKit will be confused and nothing works correctly.

[2019-01-14 14:48] manuquentin commented on #7
Hello,
If you want a support for Android and iOS, we've forked this repository and added it in : https://github.com/wazo-pbx/react-native-callkeep

[2019-01-18 04:13] neo125874 commented on #21
@davidcantonnoteges
Did you solve the issue now?
Could you share the method?

[2019-01-24 08:52] andrew781026 commented on #21
When I setup without CocoaPods , it work well ,
but when i change to using CocoaPods to setup ,
I have the same issue , How can i fix it ? ( i need to use react-native-fcm )

[2019-01-27 13:56] platonish commented on #16
@ianlin / anyone else,  RNN v2 now has a different setup [(link)](https://wix.github.io/react-native-navigation/#/docs/Installing?id=ios). I'm not an iOS developer and am not able to use this module with RNN v2. Any help would be much appreciated!

[2019-02-06 19:22] izaa commented on #3
@bmp123  `RNCallKit.endCall(this.callKitUuid.toUpperCase()); `so the uppercase uuid worked for me.

[2019-02-08 09:07] bmp123 opened #73 "Speakerphone"
Hello, I have an issue. The button to switch the audio channel deactivates . The button will go into inactive state.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13719416/52468552-e2bd4400-2baa-11e9-93cd-15f1d660dde8.gif)

[2019-02-09 22:57] izaa commented on #59
Same issue for me, only one setup. If the caller rejects the call, the answerer can still see the call display (for example, answer or decline -view)

@farrukhhashmi65  did you solve this ?

[2019-02-14 14:55] saikiranoptisol opened #75 "Is it possible to call using other than phone number"
Hi,

I'm doing chat application in which there is an option for video call. For this i have integrated react-native-video-webRTC.But instead of connecting directly i need acept reject and call getting notifications as well. So i'm looking for some call kit frameworks like this. but here is it possible to make call without any phone number. Because i must not use phone number. i need to do it based

[2019-02-18 04:23] zxcpoiu commented on #7
@manuquentin

Awesome! Thanks for your decent works.

Would you mind to join as collaborator and merge back? ( or your recommended persons )
It would be nice for community to maintain a single code base if roadmap is fairly the same.

We can indicating the contributions in the readme, or even moved this repo to a neutral owner, like, an organization.

Sounds good?

[2019-02-18 13:12] sboily commented on #7
Hello @zxcpoiu,

There is multiple reasons we don't do that.

1/ We check the activity on this repo and it looks like there is nothing happened for a long time. No PR merged, no new code. I understand sometime people have another priority.

2/ The name is oriented to be as callkit for iOS and not for android. That's why we changed the name on the fork.

3/ We develop an application for business an

[2019-02-18 15:06] danjenkins commented on #7
I completely agree with @sboily (I must say I am a contributor to callkeep but not employed by wazo) - this repo hasn't been active as of late; whether that could change if we could add more contributors to the repo is up for debate but there are PRs open for months with no comment on them. To me, this project looked like it was essentially dead from the outside - so much so I've been maintaining

[2019-02-18 18:26] zxcpoiu commented on #7
Hey, @danjenkins @sboily , thanks for your reply.

I am in the same industry as well, but more personally. :handshake:

First thing first, please don't get me wrong, I'm not trying to convince to keep ownership. ( I'm not @ianlin  btw.  ) Maybe it's a little bit exaggerated, but believe it or not, I could't sleep well because seeing these repos dying but don't have time to keep it going.

People c

[2019-02-18 18:36] zxcpoiu commented on #7
About the callkit naming, it's not that important so I split it into here.

I still think callkit is a better name because lots people does not aware android that has this functionality like iOS as well. People usually asked `callkit-like` feature on android. Didn't mention the name `ConnectionService` is confusing enough. They search callkit and found this repo, then, oh ya, it supports android a

[2019-02-18 20:08] sboily commented on #7
Good idea, it will be nice to have an org like react-native-voip or something like this with all stuff around voip and telecommunication with react.

[2019-02-18 20:23] saghul commented on #7
@sboily I'll be happy to add you to https://github.com/react-native-webrtc if we agree on the name :-)

[2019-02-18 21:18] sboily commented on #7
@saghul Thank you for your proposal. Maybe we can open a discussion in another public place to have an open discussion around this organisation? I like this idea to have all webrtc/voip/telecom in a same neutral organisation. Do we need to talk about the governance, repo access etc...? What's the mission? :)

[2019-02-19 09:30] saghul commented on #7
@sboily Sure, let's talk about it! How about here? https://react-native-webrtc.discourse.group It could also server as a discussion forum for all the things in this org.

[2019-02-22 02:05] neo125874 commented on #7
@saghul @sboily @danjenkins @zxcpoiu
Thanks you guys for the Libs, I have used them to build the instant-messenger like Line/WhatsApp;
If you construct the org. for share/discussion,
I have lots of feedback(code, issue, problem, etc.) maybe could be useful for you, haha

[2019-02-22 06:05] bmp123 commented on #73
some solution?

[2019-02-22 06:33] saghul commented on #7
@neo125874 Feel free to drop by https://react-native-webrtc.discourse.group/

[2019-02-22 14:14] saikiranoptisol commented on #61
@Praxey  I'm trying to implement the same scenario. once accepts the call,  video call must be done. i have integrated twilio video successfully. now i'm working with reactnative call kit to receive and to make calls. But i cant able to make calls or receive calls. How did you done that Kindly let me know I was struck in this for past a week.

[2019-02-22 14:51] andrew781026 commented on #75
RNCallKit.displayIncomingCall(_uuid, "the string show on the call screen")

[2019-02-22 15:38] saikiranoptisol commented on #75
how i can make incoming and outgoing calls.

I'm using methods like  onIncomingCall = () => {
        // Store the generated uuid somewhere
        // You will need this when calling RNCallKit.endCall()
        let _uuid = uuid.v4()
        console.log("Hello RNCallKit", RNCallKit); // log is here
        console.warn('onIncomingCall,_uuid=', _uuid);

        RNCallKit.displayIncomingCall(_uuid, "

[2019-02-23 05:13] saikiranoptisol commented on #67
@LFSCamargo  have you done this. i have a doubt how another user will receive call. I have followed https://github.com/andrew781026/rn-callkit-with-fcm        example demo. using which i wanted to make calls. but using that demo if i clickon incoming call only my phone will ring. if i click on outgoing call. not sure what is happening. i need to call to other user who uses my app. can you please e

[2019-02-25 10:27] bmp123 commented on #73
Speaker button selection always disappears

[2019-02-25 10:48] saikiranoptisol commented on #57
@rcidt  have you fixed this

[2019-02-26 06:08] platonish commented on #24
I'm no expert, but I believe this can't be done on iOS, since they don't let you draw over the lock screen like on Android.

[2019-02-28 13:29] platonish commented on #57
You'll need to wait for the `didActivateAudioSession` event to fire before actually accepting the call, otherwise your library may fail to get control over the audio. [(issue comment)](https://github.com/ianlin/react-native-callkit/issues/64#issuecomment-448188902)

[2019-03-02 19:23] 7ameed opened #76 "call failed screen appears after answering the call"
i'm able to make the callkit incoming call ui  appears
but after clicking the answering button a call failed screen appears and the app restarts
any idea how to solve it

the expected behavior is to execute whatever in the call answer listener
without the call failed screen to appear

[2019-03-05 17:25] Praxey opened #77 "Conflicting parameter types"
Hi,

Xcod is showing this warning:
" Conflicting parameter types in implementation of 'application:continueUserActivity:restorationHandler:':'void (^_Nonnull __strong)(NSArray<id<UIUserActivityRestoring>>*_Nullable __strong)' vs 'void (^__strong _Nonnull)(NSArray *_Nullable __strong)' "

on this line in AppDelegate.m:
restorationHandler:(void(^)(NSArray * __nullable restorableObjects))restorationH

[2019-03-12 13:45] anhtukhtn commented on #21
UUID format solved my problem.

[2019-03-13 20:39] 7ameed commented on #77
+1

[2019-03-14 06:18] krajay015 opened #78 "bug: RNCallKit.endCall(_uuid) is not disconnecting the call"
I'm integerating my app with `react-native-pjsip` library and I've used `react-native-callkit` for call-kit handling. When remote user hangup the call then my react-native-pjsip's endpoint method notify me to terminate the call so I'm calling `RNCallKit.endCall(_uuid)` but it's not disconnecting the call from my screen

Debug: I've thought that maybe RNCallKit.endCall and RNCallKit.startCall is ge

[2019-03-23 10:45] chuchden opened #79 "Caller Phone get action, I don't know to do, anyone could help?"
Caller Phone get action, I don't know to do, anyone could help?
Hello,
I found it perfect lib I need.
But I don't know how to connect from Caller to Receiver.
Anyone could help me?
How much you charge?
Thanks.

[2019-03-28 09:37] bmp123 commented on #73
maybe some solutions?

[2019-05-03 06:53] zxcpoiu commented on #7
Hi @sboily @manuquentin

Since we are on the new home now, just wanted to let you guys know, `react-native-callkit` is under your charges now :+1: ( governance / main lead and the main maintainer to this repo )

So feel free to do what you want to do. Either merging the two repos, or deprecation / redirection ...etc.

[2019-05-03 13:22] sboily commented on #7
Hello @zxcpoiu, ok thank you.

We'll talk with @manuquentin about the futur of this repo. But it will be nice to have feedback from people about continuing to develop in this repo. Probably it will be better for all to have one repo to support iOS and android with the same library, but community feedback is welcome, we don't know exactly if people prefer to have a specific library for iOS or not a

[2019-05-13 22:50] Praxey commented on #37
Hello - were you able to solve this issue? I have the same problem.

[2019-05-14 08:06] bmp123 commented on #73
Hello, maybe some solutions?

[2019-05-14 09:20] aarkalyk commented on #37
@Praxey We've solved it the same way as whatsapp does. When user receives a call for the first time, instead of using callkit we use regular push notifications. Once user taps on a notification and opens the app, we ask for permissions. If permissions allowed proceed with a call, otherwise reject a call and next time user receives a call reject automatically and show an alert saying that permissio

[2019-05-14 09:20] #37 closed

[2019-05-14 20:05] Praxey commented on #37
Thanks!